name: Deploy

on:
  push:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: >
    deploy-${{ github.workflow }}-${{
      github.event_name == 'pull_request' &&
      github.event.pull_request.number ||
      github.ref
    }}
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          submodules: recursive

      - name: Install just
        uses: taiki-e/install-action@b9c5db3aef04caffaf95a1d03931de10fb2a140f  # v2.65.1
        with:
          tool: just

      - name: Install Zola
        uses: taiki-e/install-action@b9c5db3aef04caffaf95a1d03931de10fb2a140f  # v2.65.1
        with:
          tool: zola@0.21.0

      - name: Install actionlint
        uses: taiki-e/install-action@b9c5db3aef04caffaf95a1d03931de10fb2a140f  # v2.65.1
        with:
          tool: actionlint

      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867  # v7.1.6
        with:
          version: "latest"

      - name: Run CI checks
        run: just ci

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          personal_token: ${{ secrets.TOKEN }}
          external_repository: acgetchell/acgetchell.github.io
          publish_branch: main
          publish_dir: ./public
          user_name: acgetchell
          user_email: adam@adamgetchell.org
          cname: www.adamgetchell.org
